#main-section {
    height: 100vh;
    overflow: hidden;
    /* background-image: url(https://www.ynetnews.com/PicServer5/2017/02/08/7576628/8833456_8834696_rumble.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Qoute area */
#qouteContainer {
    width: 100%;
    text-align: center;
    border-radius: 8px;
    word-wrap: break-word;
    position: relative;
    max-width: 690px;
    margin: 50px auto;
}

#qoute {
    color: white;
    font-size: 4em;
    border-bottom: gold 3px solid;
    padding: 20px;
}

/* search area */
#search-container {
    max-width: 990px;
    margin: auto;
}

/* btn */
#edit-btn {
    position: absolute;
    top: 0;
    right: 0;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#time {
    font-weight: 900;
    font-size: 5em;
}

/* search suggestion area */
#search-suggest {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.list {
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 10px 2px;
}
.list:hover {
    background-color: lightgray;
}
/* large mobile */
@media only screen and (max-width: 425px) {
    #qoute {
        color: white;
        font-size: 2em;
        border-bottom: gold 3px solid;
        padding: 20px;
    }
}
